extends ../structure/default.jade

include ../includes/modalHelper.jade
include ../includes/basic.jade

block append scripts
    script(src="/scripts/includes/modalHelper.js")
    script
        |$('.datepicker').datepicker();
    script(src="/scripts/includes/timeline.js")
    script(src="/scripts/includes/cardicons.js")
    script(src="/scripts/includes/selectTrigger.js")
    script(src="/scripts/overview.js")
    script(src="/scripts/includes/checkedListGroup.js")
    script
        |initListGroup($("#studentUserList"))
    script(src="/scripts/includes/dropzone.min.js")
    script(src="/scripts/includes/dropzoneCustom.js")

block append styles
    link(href="/styles/flip.css" rel="stylesheet")
    link(href="/styles/dropzone.min.css" rel="stylesheet")
    link(href="/styles/dropzoneCustom.css" rel="stylesheet")

block content
    -var users = []
    -var files = fullUser.groups[0].files
    .container
        #finalWarning.hidden
            .alert.alert-info
                p
                    b There are non final assignments! 
                p 
                    |Make sure to either accept or decline all non final assignments (assignments handed in for you by someone else). 
                    br
                    |You can recognize these handins by the light blue dot.
            hr
        h1#group_data(start=group.start end=group.end group=group._id)= group.name
        
        if group.assignments.length > 0 && group.assignments[0].typ == "open" && !user.admin
            h2 Open Assignment
            .row.groups
                - var ass = group.assignments[0]
                - var handins = files.filter(f => f.file.assignment.toString() == ass._id.toString())
                +flipper()(class="group")
                    +front-card() 
                        .assignmentStateBulb.back-open
                        .yAlign
                            h3.special= ass.name
                            +timeline(group.start, group.end)(class="hidden" id="openExists")
                    +back-card()
                        +card-icons()
                            .bottom-icons
                                +card-icon("Upload", 'upload')(class="manipulate" data-toggle="modal" data-target="#uploadAssignment" target="#uploadAssignment_title" text-data="#{ass.name}" attr-data='{"assignment": "#{ass._id}"}')
                for handin in handins
                    +flipper()(class="group")
                        +front-card() 
                            if !handin.final
                                .assignmentStateBulb.back-final
                            else
                                .assignmentStateBulb.back-done
                            if handin.file.feedback.length == 0
                                .assignmentStateFeedback.back-normal
                            else 
                                .assignmentStateFeedback.back-done
                            .yAlign
                                h3.special= handin.file.name
                                +timeline(group.start, group.end, group.now)(class="hidden")
                        +back-card()
                            +card-icons() 
                                .bottom-icons
                                    +card-icon-a("/file/" + handin.file._id, 'View Hand-in Page', 'list-alt')
                                    if !handin.final
                                        +card-icon("Accept Hand-in", 'ok')(class="manipulate" data-toggle="modal" data-target="#acceptAssignment" target="#acceptAssignment_title" text-data="#{handin.file.name}" attr-data='{"file": "#{handin.file._id}"}')
                                        +card-icon("Decline Hand-in", 'remove')(class="manipulate" data-toggle="modal" data-target="#declineAssignment" target="#declineAssignment_title" text-data="#{handin.file.name}" attr-data='{"file": "#{handin.file._id}"}')
            hr

        if group.assignments.length > 0 && (user.admin || group.assignments.length > 1 || group.assignments[0].typ != "open")
            h2 Assignments
            .row.groups
                for ass in group.assignments
                    - var file = files.filter(f => f.file.assignment.toString() == ass._id.toString())
                    - var done = file.length > 0
                    - var open = ass.typ == "open"
                    if !open || user.admin
                        +flipper()(class="group")
                            +front-card()
                                if !user.admin
                                    if done
                                        if !file[0].final
                                            .assignmentStateBulb.back-final
                                        else
                                            if ass.due > file[0].file.timestamp
                                                .assignmentStateBulb.back-done
                                            else
                                                .assignmentStateBulb.back-late
                                        if file[0].file.feedback.length == 0
                                            .assignmentStateFeedback.back-normal
                                        else 
                                            .assignmentStateFeedback.back-done
                                    else
                                        if ass.due > new Date()
                                            .assignmentStateBulb.back-normal
                                        else 
                                            .assignmentStateBulb.back-due
                                .yAlign
                                    h3.special= ass.name
                                    if !user.admin && done
                                        h4#subheadersmall= file[0].file.name
                                    .timeline-container
                                        if open
                                            +timeline(group.start, group.end)(class="hidden" id="openExists")
                                        else
                                            +timeline(group.start, group.end, ass.due)(class="hidden")
                            +back-card()
                                +card-icons()
                                    if user.admin
                                        if ass.link.length > 0
                                            .top-icons
                                                +card-icon-a(group._id + "/assignment/" + ass._id, 'Results', 'list-alt')
                                                +card-icon('Edit Assignment', 'cog')(class="manipulate" data-toggle="modal" data-target="#editAssignment" target="#editAssignment" attr-data='{"assignment": "#{ass._id}", "name": "#{ass.name}", "link": "#{ass.link}", "type": "#{ass.typ}", "due": "#{ass.due}"}')
                                            .bottom-icons
                                                +card-icon('Remove Assignment', 'trash')(class="manipulate" data-toggle="modal" data-target="#removeAssignment" target="#removeAssignmentName" text-data="#{ass.name}" attr-data='{"assignment": "#{ass._id}"}')
                                                +card-icon-a("http://" + ass.link, 'Additional Info', 'info-sign')(target='_blank')
                                        else
                                            .bottom-icons
                                                +card-icon-a(group._id + "/assignment/" + ass._id, 'Results', 'list-alt')
                                                +card-icon('Edit Assignment', 'cog')(class="manipulate" data-toggle="modal" data-target="#editAssignment" target="#editAssignment" attr-data='{"assignment": "#{ass._id}", "name": "#{ass.name}", "link": "#{ass.link}", "type": "#{ass.typ}", "due": "#{ass.due}"}')
                                                +card-icon('Remove Assignment', 'trash')(class="manipulate" data-toggle="modal" data-target="#removeAssignment" target="#removeAssignmentName" text-data="#{ass.name}" attr-data='{"assignment": "#{ass._id}"}')
                                    else
                                        if !done
                                            .bottom-icons
                                                +card-icon("Upload", 'upload')(class="manipulate" data-toggle="modal" data-target="#uploadAssignment" target="#uploadAssignment_title" text-data="#{ass.name}" attr-data='{"assignment": "#{ass._id}"}')
                                                if ass.link.length > 0
                                                    +card-icon-a("http://" + ass.link, 'Additional Info', 'info-sign')(target='_blank')
                                        else
                                            .bottom-icons
                                                +card-icon-a("/file/" + file[0].file._id, 'View Hand-in Page', 'list-alt')
                                                if !file[0].final
                                                    +card-icon("Accept Hand-in", 'ok')(class="manipulate" data-toggle="modal" data-target="#acceptAssignment" target="#acceptAssignment_title" text-data="#{file[0].file.name}" attr-data='{"file": "#{file[0].file._id}"}')
                                                    +card-icon("Decline Hand-in", 'remove')(class="manipulate" data-toggle="modal" data-target="#declineAssignment" target="#declineAssignment_title" text-data="#{file[0].file.name}" attr-data='{"file": "#{file[0].file._id}"}')
                                                if ass.link.length > 0
                                                    +card-icon-a("http://" + ass.link, 'Additional Info', 'info-sign')(target='_blank')
        else
            h2 Assignments
            p No assignments were made yet!
        hr
        .row
            if user.admin
                +cardLink("Create a New Assignment")(data-toggle="modal" data-target="#addAssignment")
                +cardLink-a(group.id + "/feedback", "To-Feedback List")
                +cardLink("View all Results")
            else
                +cardLink("Generate Overview")
                +cardLink("Mail Users")
        if user.admin                
            hr
            h2 Users
            .row
                .col-sm-6
                    +cardTable("Students")
                        for usr in group.students
                            -users.push('"' + usr._id + '"')
                            +cardTableFlip(usr.name + " " + usr.surename)
                                if usr._id == user.id
                                    p This is you :)
                                else
                                    .bottom-icons
                                        +flip-table-a("mailto:" + usr._id + "@student.utwente.nl", "envelope")(target="_blank")
                                        +flip-table-a(group._id + "/user/" + usr._id, "list-alt")(target="_blank")
                                        +flip-table-icon("trash")

                .col-sm-6
                    +cardTable("Instructors")
                        for usr in group.admins
                            -users.push('"' + usr._id + '"')
                            +cardTableFlip(usr.name + " " + usr.surename)
                                if usr._id == user.id
                                    p This is you :)
                                else
                                    .bottom-icons
                                        +flip-table-icon("envelope")
                                        +flip-table-icon("trash")
            hr
            .row
                if user.admin
                    +cardLink("Add Users")(data-toggle="modal" data-target="#addUsers" onclick='javascript:getUsers(`[#{users}]`)')
                    +cardLink("Mail Users")

    if user.admin
        mixin assignmentModal(id, changeType)
            .row
                .col-xs-8
                    +text("Name", id + 'assignmentName')
                .col-xs-4
                    - var extraClass = changeType? "hidden":""
                    .input-group(class=extraClass)
                        +select("Type", id + 'assignmentType')(class="selectTrigger" container="#assignment-data" + id)
                            option(value="defined") Defined
                            option(value="open") Open
                            option(value="autograder") Autograder
            div(id="assignment-data" + id)
                .selectActor(data="defined")
                    .row.mtop10
                        .col-xs-8
                            +date("Due Date", id + 'due')
                    hr
                    label(for=id + "infoLink") Additional Information Link (optional)
                    +text("http://", id + "infoLink")
                .selectActor.hidden(data="autograder")
                    hr
                    .alert.alert-warning
                        p Sorry, the autograder option is disabled in this version!

        +modal('addAssignment', 'Create a New Assignment', 'primary', 'Create Assignment')
            +assignmentModal('')

        +modal('editAssignment', 'Edit Assignment', 'primary', 'Update Assignment')
            +assignmentModal('update_', true)

        +modal('removeAssignment', "Are you sure?", 'danger', 'Delete Assignment')
            .alert.alert-warning
                p
                    b Warning! 
                    | Your are about to delete the assignment: '
                    span#removeAssignmentName
                    |'!
                p This assignment will dissappear for all users. This is 
                    b unrecoverable
                    |!
            .alert.alert-info 
                p 
                    b Note 
                    | Hand-in data (files, feedback and reflections) will be kept but can only be accessed through direct links.
        
        +modal('addUsers', "Add Users", 'primary', 'Add Users')
            .row
                .col-xs-8
                    .well.multiSelect#userSelect
                        ul.list-group.checked-list-box#allUserList
                .col-xs-4
                    .input-group
                        +select("Role", 'userRole')
                            option(value="student") Student
                            option(value="admin") Instructor
    else
        +modal('uploadAssignment', "Upload Assignment: ", 'primary', 'Upload Assignment', true)
            +text('Hand-in Name', 'handInName')
            hr
            .form-group
                form.dropzone.form-control#uploadedFiles(action="file-upload" method="post" enctype="multipart/form-data")
                    input.hide(type="file" name="files")
                    .dz-message.yAlign
                        p Click or drag files to upload.
            label(for="uploadedFilesSelect") Uploaded Files
            .well#uploadedFilesSelect
                ul.list-group.checked-list-box#uploadedFilesList
            hr
            label(for="userSelect") Partners
            .well#studentSelect
                ul.list-group.checked-list-box#studentUserList
                    for student in group.students
                        if student._id != user.id
                            li.list-group-item(value=student._id) #{student.name} #{student.surename} (#{student._id})
            .alert.alert-info
                span
                    b Note
                    |! Your partners to not need to hand in this assignment anymore, they do need to accept this hand-in however (from the dashboard).
            hr
            .form-group
                label.control-label(for="comments") Additional Comments (optional)
                textarea.form-control#comments(rows="5")

        +modal('acceptAssignment', "Accept Assignment: ", 'primary', "I'm Completely Sure", true)
            .alert.alert-info
                span Are you sure you want to accept this assignment?

        +modal('declineAssignment', "Decline Assignment: ", 'danger', "I'm Completely Sure", true)
            .alert.alert-warning
                span Are you sure you want to decline this assignment?