extends structure/default.jade

block content
    .container
        h2= group.name
        h3 Results #{student.name} #{student.surename}
        table.table.table-striped
            thead
                tr
                    th Assignment
                    th Timestamp
                    th Feedbacked
                    th View
            tbody
                for assignment in assignments
                    - var file = assignment.files[0]
                    if typeof file != 'undefined'
                        tr
                            td= assignment.project.name
                            td
                                date= file.timestamp
                            td= file.feedback.length > 0
                            td
                                a(href="/results/" + group._id + "/" + assignment._id + "/" + student._id) View
        hr
        a.btn.btn-default(href="/overview/" + group._id + "/" + student._id) Generate Overview

block append scripts
    script
        |DateHelper.initDate()