mixin form(type)
    if(!(typeof type === 'undefined'))
        - type = type + "-form"

    form(class=type role="form")&attributes(attributes)
        block

mixin text(id, label, name, type, horizon)
    - type = (typeof type === 'undefined') ? 'text' : type
    - name = (typeof name === 'undefined') ? id : name        

    .form-group
        if(!(typeof horizon === 'undefined'))
            label(class=["control-label", "col-sm-" + horizon] for=id)= label
            div(class=["col-sm-" + (12-horizon)] )
                input.form-control(type=type id=id name=name)&attributes(attributes)
        else 
            label(for=id)= label
            input.form-control(type=type id=id name=name)&attributes(attributes)