extends structure/default.jade

block content
    .container
        h2 Results #{group.name}
        for assignment in group.assignments
            h3.special= assignment.project.name
            table.table.table-striped
                thead
                    tr
                        th Student
                        th Timestamp
                        th Feedbacked
                        th View
                tbody
                    for file in assignment.files
                        tr
                            td
                                a(href="/group/" + group._id + "/database/users/" + file.student._id)= file.student.name + " " + file.student.surename
                            td
                                date= file.timestamp
                            td= file.feedback.length > 0
                            td
                                a(href="/results/" + assignment._id + "/" + file.student._id) View

block append scripts
    script
        |DateHelper.initDate()