extends default.jade

block title
    title Programming in Python

block content
    .container
        #assignments
            h2= group.name
            h3.special Open Assignments
            if assignmentso.length > 0
                table.table.table-striped
                    thead
                        tr
                            th Miniproject
                            th Level 
                            th.fixed200 Deadline 
                            th More Information
                            th Test or Submit
                    tbody
                        each project in assignmentso
                            tr
                                td= project.name
                                td= project.level
                                td.fixed200
                                    date(format="simple")= project.due
                                td 
                                    a(href="https://github.com/ATLAS-P/Python-Course/tree/master/Miniprojects/" + project.link) GitHub
                                td
                                    a(href="javascript:gradeProject('" + project.id + "', '" + project.assignment + "', '" + project.name + "', true)") Upload
            else 
                p There are no open assignments.
            h3.special.top40 Closed Assignments
            if assignmentsc.length > 0
                table.table.table-striped
                    thead
                        tr
                            th Miniproject
                            th Level 
                            th.fixed200 Due date 
                            th More Information
                            th Test
                            th Result
                    tbody
                        each project in assignmentsc
                            tr
                                td= project.name
                                td= project.level
                                td.fixed200
                                    date(format="simple")= project.due
                                td 
                                    a(href="https://github.com/ATLAS-P/Python-Course/tree/master/Miniprojects/" + project.link) GitHub
                                td
                                    a(href="javascript:gradeProject('" + project.id + "', '" + project.assignment + "', '" + project.name + "', false)") Upload
                                td
                                    a(href="#") View
            else
                p There are no closed assignments.
        .row#upload
            .col-md-3
            .col-md-6
                h3.special
                    |Upload your 
                    span#mpname undefined 
                    |miniproject!
                form.dropzone#zonemini(action="file-upload" method="post" enctype="multipart/form-data")
                    input.hide(type="file" name="miniproject")
                    .dz-message
                        |Drop miniproject here or click to upload.
                #uploadButtons
                    button.btn.btn-info#switchProject(type="button") Switch miniproject
                    button.btn.btn-success#submitResult(type="button") Submit best result
                    button.btn.btn-warning#clearAllFiles(type="button") Clear miniprojects
                p#errMessage Please only use python files!
        #testResults
            hr
            h3.special Autograder results
            table.table.table-striped
                thead
                    tr
                        th File name
                        th Total tests
                        th Succeeded Tests
                        th Failed Input
                tbody#completedTests
        #studentInfo
            .row
                .col-sm-3
                    h3 Partners
                    .form-group
                        label(for="partners") Select all partners
                        select.form-control(name="partners" multiple="")#partners
                .col-sm-9
                    h3 Reflections
                    form#finalizeResults(action="sendResults" method="post")
                        #reflections
                            .form-group.reflection(student=user.email)
                                label(for=user.email) #{user.name} #{user.surename}
                                textarea.form-control(maxlength="500" rows="5" name=user.email placeholder="Please write a short reflection, max 500 characters...")
                        input#projectID.hide(type="text" name="project")
                        input#assignmentID.hide(type="text" name="assignment")
                        input#groupID.hide(type="text" name="group")
            hr
            #sendButtons
                button.btn.btn-info#cencelSubmit(type="button") Go back
                button.btn.btn-success#finalizeResult(type="button") Submit