extends structure/default.jade

include includes/modalHelper.jade
include includes/basic.jade

block append scripts
    script(src="/scripts/includes/modalHelper.js")
    script(src="/scripts/hub.js")
    script
        |$('.datepicker').datepicker();
    script(src="/scripts/includes/timeline.js")
    script(src="/scripts/includes/cardicons.js")

block append styles
    link(href="/styles/flip.css" rel="stylesheet")

block content
    .container
        #nonFinalHandIns
        if user.admin
            h2 My Courses
        else 
            h2 Enrolled Courses
        #classes
            if groups.length == 0
                if user.admin
                    p You are not assigned to any course yet! You can create one with the button below.
                else 
                    p You are not yet enrolled in any courses!
            .row.groups
                for group in groups
                    +flipper()(class="group")
                        +front-card()
                            .yAlign
                                h3.special= group.name
                                +timeline(group.start, group.end)
                        +back-card()
                            +card-icons()
                                if user.admin
                                    .top-icons
                                        +card-icon-a("/group/"+group._id, 'Course Overview', 'home')
                                        +card-icon("Edit Course", 'cog')(class="manipulate" data-toggle="modal" data-target="#updateCourse" target="#update_courseName" attr-data='{"value": "#{group.name}", "start": "#{group.start}", "end":"#{group.end}", "course": "#{group._id}"}')
                                        +card-icon("Remove Course", 'trash')(class="manipulate" data-toggle="modal" data-target="#removeCourse" target="#removeCourseName" text-data="#{group.name}" attr-data='{"course": "#{group._id}"}')
                                    .bottom-icons
                                        +card-icon("Mail all Users", 'envelope')
                                        +card-icon("To-Feedback List", 'pencil')
                                        +card-icon("Results Overview", 'list-alt')
                                else
                                    .bottom-icons
                                        +card-icon-a("/group/"+group._id, 'Course Overview', 'home')
                                        +card-icon("Generate Results Overview", 'list-alt')
                                        +card-icon("Mail Instructors", 'envelope')
        hr
        if user.admin
            .row
                +cardLink("Create a New Course")(data-toggle="modal" data-target="#addCourse")

    if user.admin
        mixin courseModal(id)
            +text("Course Name", id + 'courseName')
            hr
            .row
                .col-sm-6
                    +date("Start Date", id + 'courseStart')
                .col-sm-6
                    +date("End Date", id + 'courseEnd')

        +modal('addCourse', 'Create a New Course', 'primary', 'Create Course')
            +courseModal('')

        +modal('updateCourse', 'Edit Course', 'primary', 'Update Course')
            +courseModal('update_')

        +modal('removeCourse', 'Are you sure?', 'danger', 'Delete Course')
            .alert.alert-warning
                p
                    b Warning! 
                    | Your are about to delete the course: '
                    span#removeCourseName
                    |'!
                p All students and admins will be removed from the course and the course set-up will be destroyed! This process is 
                    b unrecoverable
                    |!
            .alert.alert-info 
                p 
                    b Note 
                    | Hand-in data (files, feedback and reflections) will be kept but can only be accessed through direct links.