extends structure/simple.jade

block header
    .container
        #title_header
            h1= group.name
            h2#subheader #{student.name} #{student.surename}

block content
    .container
        for file in files
            .overviewFile
                h3.special= file.assignment.project.name
                h3 Information
                if file.partners.length > 1
                    p Group:
                    ul
                        for student in file.partners
                            li #{student.name} #{student.surename}
                p Handed in on: 
                    date= file.timestamp
                p Assignment was due on: 
                    date= file.assignment.due
                p Additional assignment info: 
                    a(href=file.assignment.project.info) link
                if file.assignment.project.type == "auto_code"
                    h3 Reflection
                    p!= file.reflection.replace(new RegExp("\n", 'g'), "<br>").replace(new RegExp("  ", 'g'), " &nbsp")
                else if file.reflection.length > 0 && file.reflection != " "
                    h3 Additional Comments
                    p!= file.reflection.replace(new RegExp("\n", 'g'), "<br>").replace(new RegExp("  ", 'g'), " &nbsp")
                h3 Feedback
                if file.final
                    if admin
                        textarea.form-control#feedback(rows="5" placeholder="Write feedback on the assignment here...")= file.feedback
                        p#feedbackMessage
                        button.btn.btn-success#updateFeadback(type="button" file=file._id) Update Feedback
                    else
                        if file.feedback.length > 0
                            p#feedback!= file.feedback.replace(new RegExp("\n", 'g'), "<br>").replace(new RegExp("  ", 'g'), " &nbsp")
                        else
                            p You did not receive any feedback yet
                else
                    p You cannot receive feedback on pending handins!
                if file != files[files.length - 1]
                    hr

block footer
    .container
        hr
        - var today = new Date()
        - var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        - var month = monthNames[today.getMonth()]
        p Generated on: #{today.getDate()} #{month} #{today.getFullYear()}

block append scripts
    script
        |DateHelper.initDate()