extends ../../structure/default.jade

block append scripts
    script(src="/scripts/includes/cardicons.js")
    script(src="/scripts/includes/selectTrigger.js")
    script(src="/scripts/includes/timeline.js")

block append styles
    link(href="/styles/flip.css" rel="stylesheet")

block headerTitle
    h1
        a(href="/group/" + assignment.group._id)= assignment.group.name
    h2#subheader Assignment

block content
    .container
        h2= assignment.name
        if assignment.length == 0
            p There are no hand-ins for this assignment yet!
        else
            .row
                for file in assignment.files
                    .col-lg-4.col-sm-6.card-holder
                        .flip-container
                            .flipper.group
                                .front.card
                                    if assignment.typ == "open" || assignment.due > file.timestamp
                                        .assignmentStateBulb.back-done
                                    else
                                        .assignmentStateBulb.back-late
                                    if file.feedback.length == 0
                                        .assignmentStateFeedback.back-normal
                                    else 
                                        .assignmentStateFeedback.back-done
                                    .yAlign
                                        h3.special= file.name
                                        h4#subheadersmall
                                            span #{file.students[0].name} #{file.students[0].surename} 
                                            - var done = file.students[0]._id
                                            for student in file.students
                                                if student._id != done
                                                    span / #{student.name} #{student.surename} 
                                        .timeline-container
                                            .progress.hidden
                                                .progress-bar.timeline(role="progressbar" min=assignment.group.start max=assignment.group.end now=file.timestamp)
                                .back.card
                                    .yAlign
                                        .card-icons
                                            .bottom-icons
                                                a(href="/file/" + file._id type="button" class="btn btn-card" data="Feedback")
                                                    span.glyphicon.glyphicon-pencil(aria-hidden="true")
                                    .icons-text
                                        p

        hr
        .row
            .col-lg-4.col-sm-6.card-holder
                a(href="../../" + assignment.group.id)
                    .card.cardLink(type="button")
                        h3.special Back to Course